In [1]:
import nltk

In [2]:
#nltk.download()

In [5]:
import os
os.getcwd()
os.chdir('E:\\ABCD')
os.getcwd()

'E:\\ABCD'

In [7]:
from nltk.corpus import stopwords

In [9]:
stopwords.words('english')[0::]

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [11]:
rawData=open("SMSSpamCollection.tsv").read()
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [13]:
parsedData=rawData.replace('\n', '\t').split('\t')

In [14]:
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [16]:
labelList=parsedData[0::2]
textList=parsedData[1::2]

In [17]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [18]:
import pandas as pd

fullCorpus=pd.DataFrame({
    'label':labelList,
    'body_list':textList
})

fullCorpus.head()

ValueError: arrays must all be same length

In [19]:
print(len(labelList))
print(len(textList))

5571
5570

In [21]:
print(labelList[-5:])

['ham', 'ham', 'ham', 'ham', '']

In [22]:
fullCopus=pd.DataFrame({
    'label':labelList[:-1],
    'body_list':textList
})

In [23]:
fullCopus.tail()

     label                                          body_list
5565  spam  This is the 2nd time we have tried 2 contact u...
5566   ham              Will Ã¼ b going to esplanade fr home?
5567   ham  Pity, * was in mood for that. So...any other s...
5568   ham  The guy did some bitching but I acted like i'd...
5569   ham                         Rofl. Its true to its name

In [25]:
dataset=pd.read_csv("SMSSpamCollection.tsv", sep="\t",header=None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [26]:
fullCopus.columns

Index(['label', 'body_list'], dtype='object')

In [27]:
fullCopus.columns=['label','body_text']
fullCopus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [28]:
print("Input data has {} rows and {} columns".format(len(fullCopus),len(fullCopus.columns)))

Input data has 5570 rows and 2 columns

In [29]:
print("Out of {} rows, {} are spam, {} are ham".format(len(fullCopus),
                                                      len(fullCopus[fullCopus['label']=='spam']),
                                                      len(fullCopus[fullCopus['label']=='ham'])))

Out of 5570 rows, 746 are spam, 4824 are ham

In [30]:
print("Number of null in label: {}".format(fullCopus['label'].isnull().sum()))
print("Number of null in text: {}".format(fullCopus['body_text'].isnull().sum()))

Number of null in label: 0
Number of null in text: 0

# Implementing a pipeline to clean text
##pre processing  the data